{% extends 'base.html' %}
{% block content %}
<form method="POST" action="">
	<p>Важность:</p>
	<input type="checkbox" name="importance1" value="не очень важно"> Не очень важно<br>
	<input type="checkbox" name="importance2" value="важно"> Важно<br>
	<input type="checkbox" name="importance3" value="очень важно"> Очень важно<br>
	<br><br>
	<p>Статус:</p>
	<input type="checkbox" name="status1" value="не начато">Не начато<br>
	<input type="checkbox" name="status2" value="в процессе"> В процессе<br>
	<input type="checkbox" name="status3" value="закончено">Закончено<br>

	<p><input type="submit" value="Показать"></p>
</form>
<table border="1" width="50%" cellpadding="5">
   <tr>
    <th>Мои задачи</th>
    <th>Важность</th>
	<th>Статус выполнения</th>
   </tr>
   <tr>
    <td>
	<ol> 
{% for t in tasks %} 
<br>{{t}}</br> 
{% endfor %} 
	</ol>
	</td>
    <td>
	<ol> 
{% for imp in importance %} 
<br>{{imp}}</br> 
{% endfor %} 
	</ol>
	</td>
	<td>
	<ol> 
{% for s in statuses %} 
<br>{{s}}</br> 
{% endfor %} 
	</ol>
	</td>
  </tr>
 </table>
{% endblock %}