<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Планировщик задач</title>
</head>
<body>
<h1>Вы вошли в систему!</h1>
<p>Тут вот ваши дела</p>
<a href="new_task">Добавить новое задание</a>

<table border="1" width="25%" cellpadding="5">
   <tr>
    <th>Мои задачи</th>
    <th>Важность</th>
	<th>Статус выполнения</th>
   </tr>
   <tr>
    <td>
	<ol> 
{% for t in tasks %} 
<br>{{t}}</br> 
{% endfor %} 
	</ol>
	</td>
    <td>
	<ol> 
{% for imp in importance %} 
<br>{{imp}}</br> 
{% endfor %} 
	</ol>
	</td>
	<td>
	<ol> 
{% for s in statuses %} 
<br>{{s}}</br> 
{% endfor %} 
	</ol>
	</td>
  </tr>
 </table>
</body>
</html>